{% extends 'base.html' %}

{% block title %}Book List{% endblock %}

{% block content %}
  <h2>Book List</h2>
  
  {% if books %}
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Book Name</th>
          <th scope="col">Price</th>
          <th scope="col">Author</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for book in books %}
          <tr>
            <td><a href="{% url 'book_detail' book.id %}">{{ book.book_name }}</a></td>
            <td>{{ book.price }}</td>
            <td><a href="{% url 'author_detail' %}?author_id={{ book.author.id }}">{{ book.author.author_name }}</a></td>
            <td>
              <a href="{% url 'update_book' book.id %}" class="btn btn-primary btn-sm">
                <i class="fa fa-pencil"></i> Update
              </a>
              <form method="post" action="{% url 'delete_book' book.id %}" style="display: inline;">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger btn-sm">
                  <i class="fa fa-trash"></i> Delete
                </button>
              </form>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No books to display.</p>
  {% endif %}
  
  <a href="{% url 'create_book' %}" class="btn btn-success">Add New Book</a>
{% endblock %}
