{% extends 'base.html' %}  

{% block content %}
  <h2>Update information about the book {{ book.book_name }}</h2>
  <form method="post" class="form">
    {% csrf_token %}
    <label for="book_name">Book Name:</label>
    <input type="text" id="book_name" name="book_name" class="form-control" required>
    
    <label for="price">Price:</label>
    <input type="number" id="price" name="price" class="form-control" step="0.01" required>

    <label for="author">Author:</label>
    <select id="author" name="author" class="form-select" required>
      {% for author in authors %}
        <option value="{{ author.id }}">{{ author.author_name }}</option>
      {% endfor %}
    </select>
    <br>
    <button type="submit" class="btn btn-primary">Update</button>
  </form>
{% endblock %}